.main {
  background: rgb(182, 255, 251);
}

.footer{
  width: 100%;
  background-color: #89c7de;
  color: #fff;

  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

.answer{
  display: inline-block;      /* インラインブロック要素にする */
  background-color:  #ccc;    /* 背景色指定 */
}

.questiontable{
  display: inline-block;      /* インラインブロック要素にする */
  background-color:  #ccc;    /* 背景色指定 */
}

.time{
  display: inline-block;      /* インラインブロック要素にする */
  background-color:  #486aff;    /* 背景色指定 */
}
